/* Definición de variables de color */
:root {
    --background-gradient-start: #FBF8EF;
    --background-gradient-end: #E2E2E2;
    --text-color: #353E4A;
    --border-color: #9AC834;
    --border-focus-color: #6ABF5A;
    --button-gradient-start: #9AC834;
    --button-gradient-end: #76A83F;
    --error-color: #FF6F61;
    --button-text-color: #FBF8EF;
}

 .form-container-login { 
    border: 2px solid rgb(255, 255, 255);
    backdrop-filter: blur 1px;
    color: var(--text-color);
    max-width: 300px;
     margin: 0 auto; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    text-align: center;
    
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: var(--text-color);
}

.form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-input:focus {
    border-color: var(--border-focus-color);
    box-shadow: 0 0 8px rgba(106, 191, 90, 0.3);
    outline: none;
}

.submit-button {
    background: linear-gradient(135deg, var(--button-gradient-start), var(--button-gradient-end));
    color: var(--button-text-color);
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: background 0.3s ease, transform 0.3s ease;
    margin: 0;
}

.submit-button:hover {
    background: linear-gradient(135deg, var(--button-gradient-end), var(--button-gradient-start));
    transform: scale(1.05);
}

.error-message {
    color: var(--error-color);
    margin-top: 6px;
    font-size: 14px;
}
