/* TopBar.css */
.top-bar {
  height: 60px;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding: 0 20px;
  color:#000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: calc(100% - 200px); /* Ajusta el ancho tomando en cuenta el sidebar */
  top: 0;
  z-index: 1000;
}

.language-selector {
  font-size: 16px;
}

.profile-container {
  position: relative;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #34495e;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-menu button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.profile-menu button:hover {
  background-color: #c0392b;
}
